<form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="resetPassword()">

<div class="auth-container">

    <h1>AmazonMini</h1>

    <h2>Forgot Password</h2>

    <label>Email</label>

    <input
        type="email"
        formControlName="email">

    @if(forgotPasswordForm.get('email')?.touched &&
        forgotPasswordForm.get('email')?.hasError('required'))
    {
        <small>Email is required</small>
    }

    @if(forgotPasswordForm.get('email')?.touched &&
        forgotPasswordForm.get('email')?.hasError('pattern'))
    {
        <small>Enter a valid email address</small>
    }

    <br><br>

    <label>New Password</label>

    <div class="password-container">

        <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="newPassword">

        <button
            class="eye-btn"
            type="button"
            (click)="togglePassword()">

            👁

        </button>

    </div>

    @if(forgotPasswordForm.get('newPassword')?.touched &&
        forgotPasswordForm.get('newPassword')?.hasError('required'))
    {
        <small>Password is required</small>
    }

    @if(forgotPasswordForm.get('newPassword')?.touched &&
        forgotPasswordForm.get('newPassword')?.hasError('pattern'))
    {
        <small>
            Password must contain uppercase, lowercase, number,
            special character and be at least 8 characters.
        </small>
    }

    <br><br>

    <label>Confirm Password</label>

    <div class="password-container">

        <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword">

        <button
            class="eye-btn"
            type="button"
            (click)="toggleConfirmPassword()">

            👁

        </button>

    </div>

    @if(forgotPasswordForm.get('confirmPassword')?.touched &&
        forgotPasswordForm.get('confirmPassword')?.hasError('required'))
    {
        <small>Confirm Password is required</small>
    }

    @if(forgotPasswordForm.hasError('passwordMismatch') &&
        forgotPasswordForm.get('confirmPassword')?.touched)
    {
        <small>Passwords do not match</small>
    }

    <div class="password-rules">

        <p>Password must contain:</p>

        <ul>

            <li>Minimum 8 characters</li>

            <li>One uppercase letter</li>

            <li>One lowercase letter</li>

            <li>One number</li>

            <li>One special character</li>

        </ul>

    </div>

    <button
        type="submit"
        [disabled]="forgotPasswordForm.invalid">

        Reset Password

    </button>

    <br><br>

    <a routerLink="/login">

        ← Back to Login

    </a>

</div>

</form>