<form
  (ngSubmit)="resetPassword()">

<div class="auth-container">

  <h1>
    AmazonMini
  </h1>

  <h2>
    Forgot Password
  </h2>

  <label>Email</label>

  <input
    type="email"
    [(ngModel)]="email"
    name="email">

  <br><br>

  <label>New Password</label>

  <div class="password-container">

    <input
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="newPassword"
      name="newPassword">

    <button
      type="button"
      class="eye-btn"
      (click)="togglePassword()">

      👁

    </button>

  </div>

  <br>

  <p>
    Password must:
  </p>

  <ul>
    <li>
      Be at least 8 characters
    </li>

    <li>
      Have 1 uppercase letter
    </li>

    <li>
      Have 1 lowercase letter
    </li>

    <li>
      Have 1 number
    </li>
  </ul>

  <button
    type="submit">

    Reset Password

  </button>

  <br><br>

  <a
    routerLink="/login">

    ← Back to Login

  </a>

</div>

</form>