<div class="navbar">

  <div class="logo">
    AmazonMini
  </div>

  <div class="search-container">

    <input
      type="text"
      placeholder="Search AmazonMini"
      [(ngModel)]="searchText"
      (input)="searchProducts()">

    <button
      class="search-btn">

      🔍

    </button>

    <button
      *ngIf="searchText"
      class="clear-btn"
      (click)="searchText=''; loadProducts()">

      ✖

    </button>

    <div
      *ngIf="suggestions.length > 0"
      class="suggestions">

      <div
        *ngFor="let item of suggestions"
        class="suggestion-item"
        (click)="selectProduct(item)">

        {{ item.name }}

      </div>

    </div>

  </div>

  <div class="nav-links">

    <a (click)="logout()">
      Logout
    </a>

    <a routerLink="/cart">
      🛒 Cart
    </a>

    <a routerLink="/orders">
      Orders
    </a>

  </div>

</div>
<div class="content-wrapper">
<div class="page-header">

    <span class="header-tag">
        Shop & Relax✨ 
    </span>

    <h1>
        Find Your Next Favorite Product
    </h1>

    <p>
        Explore. Discover. Shop.

Carefully curated products for every lifestyle.
    </p>

</div>
<div class="category-filter">

  <button
    (click)="filterByCategory('')">

    All

  </button>

  <button
    *ngFor="let category of categories"
    (click)="filterByCategory(category.id)">

    {{ category.name }}

  </button>

</div>

<div class="price-buttons">

  <button
    (click)="setPriceRange(
      0,
      25000,
      '₹0 - ₹25K')">

    ₹0 - ₹25K

  </button>

  <button
    (click)="setPriceRange(
      25000,
      50000,
      '₹25K - ₹50K')">

    ₹25K - ₹50K

  </button>

  <button
    (click)="setPriceRange(
      50000,
      100000,
      '₹50K - ₹100K')">

    ₹50K - ₹100K

  </button>

  <button
    (click)="setPriceRange(
      100000,
      99999999,
      '₹100K+')">

    ₹100K+

  </button>

  <button
    (click)="setPriceRange(
      0,
      99999999,
      'All Prices')">

    All Prices

  </button>

</div>

<p>
  Current Price Filter:
  <strong>
    {{ activePriceFilter }}
  </strong>
</p>

<div
  *ngIf="products.length === 0"
  class="no-products">

  No products found for "{{ searchText }}".
  Try a different keyword.

</div>


<div class="product-grid">

  <app-product-card

  *ngFor="let product of products"

  [product]="product"

  (addToCart)="addToCart($event)">

</app-product-card>
</div>
</div>

