<form [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="auth-container">

    <a routerLink="/login">
      ← Back to Login
    </a>

    <h2>Create Account</h2>

    

    <label>Name</label>
    <br>

    <input
      type="text"
      formControlName="name">

    @if(registerForm.get('name')?.touched &&
        registerForm.get('name')?.hasError('required'))
    {
      <small style="color:red">
        Name is required
      </small>
    }

    @if(registerForm.get('name')?.touched &&
        registerForm.get('name')?.hasError('minlength'))
    {
      <small style="color:red">
        Name must be at least 3 characters
      </small>
    }

    <br><br>

    

    <label>Email</label>
    <br>

    <input
      type="email"
      formControlName="email">

    @if(registerForm.get('email')?.touched &&
        registerForm.get('email')?.hasError('required'))
    {
      <small style="color:red">
        Email is required
      </small>
    }

    @if(registerForm.get('email')?.touched &&
        registerForm.get('email')?.hasError('pattern'))
    {
      <small style="color:red">
        Enter a valid email address
      </small>
    }

    <br><br>

    

    <label>Password</label>
    <br>

    <div class="password-container">

      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password">

      <button
        type="button"
        (click)="togglePassword()">

        👁

      </button>

    </div>

    @if(registerForm.get('password')?.touched &&
        registerForm.get('password')?.hasError('required'))
    {
      <small style="color:red">
        Password is required
      </small>
    }

    @if(registerForm.get('password')?.touched &&
        registerForm.get('password')?.hasError('pattern'))
    {
      <small style="color:red">
        Password must contain:
        <br>
        • Minimum 8 characters
        <br>
        • One uppercase letter
        <br>
        • One lowercase letter
        <br>
        • One number
        <br>
        • One special character
      </small>
    }

    <br><br>
    <br><br>

<label>Confirm Password</label>

<br>

<div class="password-container">

  <input
      [type]="showConfirmPassword ? 'text' : 'password'"
      formControlName="confirmPassword">

  <button
      type="button"
      class="eye-btn"
      (click)="toggleConfirmPassword()">

      👁

  </button>

</div>

@if(registerForm.get('confirmPassword')?.touched &&
    registerForm.get('confirmPassword')?.hasError('required'))
{
    <small style="color:red">

        Confirm Password is required

    </small>
}

@if(registerForm.hasError('passwordMismatch') &&
    registerForm.get('confirmPassword')?.touched)
{
    <small style="color:red">

        Passwords do not match

    </small>
}

    <button
      type="submit"
      [disabled]="registerForm.invalid">

      Create Account

    </button>

  </div>

</form>