.category-container {
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}

.add-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  opacity: 0.9;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

th {
  background: #f5f5f5;
  text-align: left;
}

th,
td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

.edit-btn,
.delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.delete-btn:hover {
  color: red;
}

.edit-btn:hover {
  color: #007bff;
}

input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  margin-top: 10px;
}