<div class="product-card">

    <div class="image-container">

        <img
            [src]="'https://localhost:7113/images/' + product.imageUrl"
            class="product-image"
            [alt]="product.name">

    </div>

    <div class="category-badge">

        {{ product.categoryName || 'Product' }}

    </div>

    <h3>

        <a
            [routerLink]="['/product-details', product.id]">

            {{ product.name }}

        </a>

    </h3>

    <p class="description">

        {{ product.description }}

    </p>

    <div class="price">

        ₹{{ product.price | number }}

    </div>

    <div class="stock">

        <span
            [class.low-stock]="product.stockQuantity < 10">

            ●

        </span>

        {{ product.stockQuantity }} Available

    </div>

    <button
        class="cart-btn"
        (click)="onAddToCart()">

        🛒 Add To Cart

    </button>

</div>