/* Page */

body{
    background:#f3f3f3;
    font-family:Arial, Helvetica, sans-serif;
}

/* Card */

.auth-container{

    width:380px;

    margin:50px auto;

    background:#fff;

    padding:30px;

    border-radius:10px;

    box-shadow:0 4px 15px rgba(0,0,0,.15);

}

/* Logo */

.logo{

    text-align:center;

    font-size:42px;

    margin-bottom:25px;

}

/* Heading */

h2{

    margin-bottom:25px;

}

/* Label */

label{

    display:block;

    font-weight:bold;

    margin-bottom:6px;

}

/* Input */

input{

    width:100%;

    padding:12px;

    font-size:15px;

    border:1px solid #ccc;

    border-radius:6px;

    box-sizing:border-box;

    transition:.3s;

}

input:focus{

    outline:none;

    border-color:#ff9900;

    box-shadow:0 0 5px rgba(255,153,0,.5);

}

/* Password */

.password-container{

    display:flex;

    align-items:center;

    gap:8px;

}

.password-container input{

    flex:1;

}

/* Eye Button */

.eye-btn{

    width:48px;

    height:44px;

    border:none;

    border-radius:6px;

    background:#ffd814;

    cursor:pointer;

    transition:.3s;

}

.eye-btn:hover{

    background:#f7ca00;

}

/* Forgot Password */

p{

    margin-top:15px;

    margin-bottom:20px;

}

a{

    text-decoration:none;

    color:#007185;

}

a:hover{

    text-decoration:underline;

}

/* Login Button */

button[type="submit"]{

    width:100%;

    padding:12px;

    background:#ffd814;

    border:1px solid #fcd200;

    border-radius:8px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button[type="submit"]:hover{

    background:#f7ca00;

}

/* Divider */

hr{

    margin:25px 0;

}

/* Create Account Button */

.create-btn{

    width:100%;

    padding:12px;

    background:#fff;

    border:1px solid #888;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

    font-size:15px;

}

.create-btn:hover{

    background:#f5f5f5;

}