.order-card
{
    border: 1px solid #ddd;

    border-radius: 8px;

    padding: 20px;

    margin-bottom: 20px;

    background: white;
}

.order-header
{
    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;
}

.label
{
    color: gray;

    font-size: 12px;

    font-weight: bold;
}

.details-btn
{
    margin-top: 15px;

    background: #ffd814;

    border: none;

    padding: 10px 20px;

    border-radius: 20px;

    cursor: pointer;
}

.details-btn:hover
{
    background: #f7ca00;
}

.pending
{
    color: orange;

    font-weight: bold;
}

.processing
{
    color: blue;

    font-weight: bold;
}

.delivered
{
    color: green;

    font-weight: bold;
}

.cancelled
{
    color: red;

    font-weight: bold;
}

.detail-card
{
    border: 1px solid #ddd;

    border-radius: 8px;

    padding: 15px;

    margin-bottom: 15px;

    background: white;
}

.subtotal
{
    color: green;

    font-weight: bold;
}