.card {
  min-width: 200px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  color: white !important;
}

.card * {
  color: white !important;
}

.card h1 {
  color: white !important;
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

.card h3 {
  color: white !important;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}