<h1>My Orders</h1>

<div
  class="order-card"
  *ngFor="let order of orders">

  <div class="order-header">

    <div>

      <p class="label">
        ORDER
      </p>

      <p>
        #{{ order.id.slice(-4) }}
      </p>

    </div>

    <div>

      <p class="label">
        DATE
      </p>

      <p>
        {{ order.orderDate | date:'dd MMM yyyy' }}
      </p>

    </div>

    <div>

      <p class="label">
        TOTAL
      </p>

      <p>
        ₹{{ order.totalAmount }}
      </p>

    </div>

    <div>

      <p class="label">
        STATUS
      </p>

      <p
        [ngClass]="{
          'pending': order.status === 'Pending',
          'processing': order.status === 'Processing',
          'delivered': order.status === 'Delivered',
          'cancelled': order.status === 'Cancelled'
        }">

        {{ order.status }}

      </p>

    </div>

  </div>

  <button
    class="details-btn"
    (click)="viewDetails(order.id)">

    View Details

  </button>

</div>

<hr>

<div *ngIf="selectedOrderItems.length > 0">

  <h2>
    Order Details
  </h2>

  <div
    class="detail-card"
    *ngFor="let item of selectedOrderItems">

    <h3>
      {{ item.productName }}
    </h3>

    <p>
      Price:
      ₹{{ item.price }}
    </p>

    <p>
      Quantity:
      {{ item.quantity }}
    </p>

    <p class="subtotal">

      Subtotal:
      ₹{{ item.price * item.quantity }}

    </p>

  </div>

</div>