<div class="orders-page">

    <div class="page-header">

        <h1>My Orders</h1>

        <p>
            Track and view all your purchases.
        </p>

    </div>

    <div
        class="order-card"
        *ngFor="let order of orders">

        <div class="order-top">

            <div class="info-box">

                <span class="label">
                    ORDER ID
                </span>

                <span class="value">
                    #{{order.id.slice(-4)}}
                </span>

            </div>

            <div class="info-box">

                <span class="label">
                    ORDER DATE
                </span>

                <span class="value">
                    {{order.orderDate | date:'dd MMM yyyy'}}
                </span>

            </div>

            <div class="info-box">

                <span class="label">
                    TOTAL
                </span>

                <span class="value price">
                    ₹{{order.totalAmount | number}}
                </span>

            </div>

            <div class="info-box">

                <span class="label">
                    STATUS
                </span>

                <span
                    class="status-badge"
                    [ngClass]="{
                    'pending':order.status==='Pending',
                    'processing':order.status==='Processing',
                    'delivered':order.status==='Delivered',
                    'cancelled':order.status==='Cancelled'
                }">

                    {{order.status}}

                </span>

            </div>

        </div>

        <div class="order-footer">

            <button
                class="details-btn"
                (click)="viewDetails(order.id)">

                View Details →

            </button>

        </div>

    </div>

</div>