/* You can add global styles to this file, and also import other style files */
.order-dialog .mat-mdc-dialog-surface{

    padding:0 !important;

    border-radius:18px !important;

    overflow:hidden !important;
}

.order-dialog .mat-mdc-dialog-container{

    padding:0 !important;
}