<h1>Product Management</h1>

<div class="top-bar">

  <button
    class="add-btn"
    (click)="addProduct()">

    + Add Product

  </button>

  <div class="search-container">

    <input
      type="text"
      placeholder="Search Products"
      [(ngModel)]="searchText"
      (input)="searchProducts()">

    <button>

      🔍

    </button>

    <button
      *ngIf="searchText"
      (click)="searchText=''; loadProducts()">

      ✖

    </button>

    <div
      *ngIf="suggestions.length > 0"
      class="suggestions">

      <div
        *ngFor="let item of suggestions"
        class="suggestion-item"
        (click)="selectProduct(item)">

        {{ item.name }}

      </div>

    </div>

  </div>

</div>

<br>

<table>

  <thead>

    <tr>

      <th>Product</th>

      <th>Price</th>

      <th>Stock</th>

      <th>Actions</th>

    </tr>

  </thead>

  <tbody>

    <tr
      *ngFor="let product of products">

      <td>

        {{ product.name }}

      </td>

      <td>

        ₹{{ product.price }}

      </td>

      <td>

        {{ product.stockQuantity }}

      </td>

      <td>

        <button
          class="edit-btn"
          (click)="editProduct(product)">

          ✏️ Edit

        </button>

        <button
          class="delete-btn"
          (click)="deleteProduct(product.id)">

          🗑️ Delete

        </button>

      </td>

    </tr>

  </tbody>

</table>

<div
  *ngIf="products.length === 0"
  class="empty-state">

  <h3>

    No Products Found

  </h3>

  <p>

    Try another search keyword.

  </p>

</div>